<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.utc.utrc.hermes.iml.lib" name="IML Library" schema="schema/com.utc.utrc.hermes.iml.lib.exsd"/>
   <extension-point id="com.utc.utrc.hermes.iml.validators" name="Custom IML Validator" schema="schema/com.utc.utrc.hermes.iml.validators.exsd"/>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.utc.com/utrc/hermes/iml/Iml"
			class = "com.utc.utrc.hermes.iml.iml.ImlPackage"
			genModel = "model/generated/Iml.genmodel" />
	</extension>
	

</plugin>
